# General folders and files
logs/
pensamentos/
.vscode/
.DS_Store
Thumbs.db
db_data/

# ASP.NET / MAUI.NET
bin/
obj/
.vs/
IISExpress/
*.userprefs
*.vsconfig

# User configuration files
appsettings.Development.json
appsettings.Local.json
secrets.json

# MAUI.NET
/bin/
/obj/
*.db
*.bak
*.tmp

# Android Studio and Gradle
.gradle/
.idea/
build/
local.properties
*.iml
*.apk
*.ap_
.ndk/
*.keystore
*.jks
*.p12
*.properties

# Python
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
ENV/
*.egg-info/
*.eggs/
*.pytest_cache/
.tox/
.coverage
*.cover
htmlcov/
.mypy_cache/
.dmypy.json
.ipynb_checkpoints/

# Django
static/
media/
localsettings.py
db.sqlite3
*.sqlite
*.sqlite3
migrations/**/pycache/

# PySide6
*.qmlc
*.qmltypes
*.pro.user
*.pro.user.*
*.qrc.dep

# MySQL
*.sql
*.sql.gz
*.sql.bak
db_data/

# Sensitive data
*.env
*.env*
*.secrets
*.key
*.pem
*.p12