{% extends "global/base.html" %}
{% load static %}


{% block content %}
    {% block extra_css %}
        <link rel="stylesheet" href="{% static 'global/css/pages/about_me.css' %}">
        <link rel="stylesheet" href="{% static 'global/css/partials/contact_me.css' %}">
        <link rel="stylesheet" href="{% static 'global/css/partials/messages.css' %}">
    {% endblock %}

<div class='container'>
    <div class="text-container">
        <h1>Sobre</h1>
        <h2>Mucho Texto</h2>
    </div>

    {% include 'main_app/partials/contact_me.html' %}

</div>
{% endblock content %}
