{% extends "global/base.html" %}
{% load static %}


{% block content %}
    {% block extra_css %}
        <link rel="stylesheet" href="{% static 'global/css/pages/about_me.css' %}">
    {% endblock %}

<div class='container'>
    <div class="text-container">
        <h1>Sobre</h1>
        <h2>Mucho Texto</h2>
    </div>
    <div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <script src="https://cdn.jsdelivr.net/npm/cleave.js@1.6.0/dist/cleave.min.js"></script>
            <script src="{% static 'global/js/phone_mask.js' %}"></script>
            <button type='submit'>aqui</button>
        </form>
    </div>
</div>
{% endblock content %}
