{% extends "global/base.html" %}
{% load static %}


{% block content %}
    {% block extra_css %}
        <link rel="stylesheet" href="{% static 'global/css/partials/project_card.css' %}">
        <link rel="stylesheet" href="{% static 'global/css/pages/home.css' %}">
    {% endblock %}

    <div class="container">
        <div class="text-container">
            <h1>Portifólio</h1>
            <h2>{{ cargo }}</h2>
        </div>
        
        <div class="fav-container">
            {% include "projects_app/partials/_project_card.html" %}
        </div>
    </div>
{% endblock content %}