{% load template_filters %}
{% load static %}

{% comment %}
    <a href="{% url 'projects_app:project_detail' slug=project.slug %}" class="select-project"></a>
                        
{% endcomment %}

<div class='card-container'>
    <ul class= 'cards'>
        {% for project in projects %}
            <li class= 'card-item'>
                <div class="card"><a href="{% url 'projects_app:project_detail' project.slug%}" class='card-link'>
                    
                    <img src="{{ project.img_icon | img_or_default }}" alt="{{ project.name }}" class="card-image">
                    
                    
                    <div class="card-content">
                        <div class="card-title">{{ project.name }}</div>
                        <p class="class-text">{{ project.short_desc }}</p>
                    </div>
                    <div class="tag-images">
                        {% for tag in custom_tags_list|get_item:project.pk %}            
                            <img src="{{ tag.img_icon | img_or_default }}" alt="{{ tag.name }}" title="{{ tag.name }}" class="tag-icon">              
                        {% endfor %}
                    </div>
                </a></div>
            </li>
        {% endfor %}  
    </ul>

</div>