{% load template_filters %}
{% load static %}

<div class='card-container'>
    {% for project in projects %}
        <div class= 'card-item'>
            <a href="{% url 'projects_app:project_detail' slug=project.slug %}" class="select-project"></a>
            <h1>{{ project.name }}</h1>
                
            
            <img class="img-card" src="{{ project.img_icon | img_or_default }}" alt="project.name">
            
                    
            <div class='card-tags'>
                <ul>
                    {% for tag in custom_tags_list|get_item:project.pk %}
                                
                        <li><a href="{% url 'projects_app:home' %}?tag={{ tag.slug }}"><img src="{{ tag.img_icon | img_or_default }}" alt="{{ tag.name }}" title="{{ tag.name }}" class="img-tag"></a></li>     
                                    
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}  
</div>