{% load static %}

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Portifolio</title>
<script src="{% static 'global/js/script.js' %}"></script>

<link rel="stylesheet" href="{% static 'global/css/variables.css' %}">
<link rel="stylesheet" href="{% static 'global/css/base.css' %}">
<link rel="stylesheet" href="{% static 'global/css/partials/header.css' %}">
<link rel="stylesheet" href="{% static 'global/css/partials/footer.css' %}">

{% block extra_css %}<!-- BLOCK extra_css VAZIO -->{% endblock %}
    