/* File for the about me page */

/* Main container for the about me page */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Container for the content */
.text-container {
    margin: 10px;
    text-align: center;
    font-size: var(--biggest-font);
}