/* Global CSS for Home Page */

/* Main container */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Main text container */
.text-container {
    margin: 10px;
    text-align: center;
    font-size: var(--biggest-font);
}

/* Favorite projects container */
.fav-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}