.container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 80%;
    font-size: var(--biggest-font);
    min-height: 10vh;
    margin: 20px auto;
    padding: 30px;
}

/* Filtro dos projetos, colapsável */
.container details {
    position: absolute;
    font-size: var(--biggest-font);
    left: 60%;
    top: 47%;
    cursor:pointer;
    z-index: 1;
}

/* Botão do filtro de projetos */
.container button {
    background-color: var(--lightest-secondary-color);
    border: 1px solid black;
    border-radius: 8%;
    width: fit-content;
}
.container button:hover {
    background-color: var(--lightest-secondary-color);
    scale: 1.06;
}

