/* Global styles for the projects home page */

/* Main container */
.container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 80%;
    font-size: var(--biggest-font);
    min-height: 10vh;
    margin: 20px auto;
    padding: 30px;
}

/* Filter container */
.container details {
    position: absolute;
    font-size: var(--biggest-font);
    left: 60%;
    top: 47%;
    cursor:pointer;
    z-index: 1;
}

/* Filter button */
.container button {
    background-color: var(--lighter-tertiary-color);
    border: 1px solid black;
    border-radius: 6px;
    width: fit-content;
}
.container button:hover {
    background-color: var(--light-tertiary-color);
    scale: 1.06;
}

