/* Correçção das margens */
body, html, main, h1, h2, h3, h4, h5, h6, p, a, ul, li {
    margin: 0;
    padding: 0;
}

/* Definição do tamanho da fonte */
html {
    font-size: 62.5%;
    color: var(--black-purple);
    background-color: var(--white);
}

/* Corpo Principal */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}

/* Corpo do conteúdo */
main {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    height: calc(100vh - 25px);
    margin: 0 auto;
    overflow: hidden;
}

/* Centralizar texto principal */
.title-main {
    justify-items: center;
    font-size: var(--biggest-font);
}

/* -------------------------------------------------------------------------- */
/* Cabeçalho */
header {
    display: flex;
    flex-direction: row;
    background-color: var(--primary-color);
    color: var(--white);
    width: 100%;
}
header ul {
    margin: 10px;
    padding: 10px;
    font-size: var(--bigger-font);
}

/* Navegação cabeçalho */
.nav-header {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-weight: bold;
}

/* Link's cabeçalho */
.nav-header a {
    text-decoration: none;
    color: inherit;
    padding: 10px;
}

/* Link's cabeçalho ao passar o mouse*/
.nav-header a:hover {
    background-color: var(--dark-primary-color);
}

/* -------------------------------------------------------------------------- */
/* Rodapé */
footer {
    font-size: var(--smaller-font);
    justify-items: center;
    background-color: var(--primary-color);
    width: 100%;
    max-height: 25px;
    padding: 10px;
    color: var(--white);
}