/* Correçção das margens */
html, body, header, footer, main, div, h1, h2, h3, h4, h5, h6, p, a, ul, li {
    margin: 0;
    padding: 0;
}

/* Definição do tamanho da fonte */
html {
    font-size: 62.5%;
    color: var(--text-primary);
    background-color: var(--background);
}

/* Corpo Principal */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

/* Corpo do conteúdo */
main {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    height: calc(100vh - 25px);
    margin: 0 auto;
    overflow: hidden;
}