/* -------------------------------------------------------------------------- */
/* Página de projetos, listagem */
/* Container do titulo de projetos */
.container-2 {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 80%;
    font-size: var(--biggest-font);
    min-height: 10vh;
    margin: 40px auto;
    padding: 30px;
}

/* Filtro dos projetos, colapsável */
.container-2 details {
    position: absolute;
    font-size: var(--biggest-font);
    left: 60%;
    top: 47%;
    cursor:pointer;
    z-index: 1;
}

/* Botão do filtro de projetos */
.container-2 button {
    background-color: var(--lightest-secondary-color);
    border: 1px solid black;
    border-radius: 8%;
    width: fit-content;
}
.container-2 button:hover {
    background-color: var(--lightest-secondary-color);
    scale: 1.06;
}

