.detail-project {
    justify-content: center;
}
.detail-project div{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.detail-project h1 {
    font-size: var(--biggest-font);
    padding: 10px;
}
.detail-project p {
    font-size: var(--biggest-font);
    padding: 10px;
}