/* Variáveis */
:root {
    /* Tamanhos de fonte */
    --smallest-font: 0.2rem;
    --smaller-font: 0.6rem;
    --small-font: 0.8rem;
    --medium-font: 1.4rem;
    --big-font: 1.8rem;
    --bigger-font: 2.0rem;
    --biggest-font: 2.4rem;

    /* Cores basicas */
    --white: #f0f0f0;
    --gray: #808080;
    --black: #0f0f0f;
    --black-purple:#2d1f39;

    /* Cor Principal */
    --lightest-primary-color: hsl(278, 60%, 70%);
    --lighter-primary-color: hsl(278, 60%, 64%);
    --light-primary-color: hsl(278, 60%, 54%);
    --primary-color: hsl(278, 60%, 50%);
    --dark-primary-color: hsl(278, 60%, 46%);
    --darker-primary-color: hsl(278, 60%, 36%);
    --darkest-primary-color: hsl(278, 60%, 30%);

    /* Cor Secundaria */
    --lightest-secondary-color: hsl(305, 70%, 70%);
    --lighter-secondary-color: hsl(305, 70%, 64%);
    --light-secondary-color: hsl(305, 70%, 54%);
    --secondary-color: hsl(305, 70%, 50%);
    --dark-secondary-color: hsl(305, 70%, 46%);
    --darker-secondary-color: hsl(305, 70%, 36%);
    --darkest-secondary-color: hsl(305, 70%, 30%);
    --lightest-secondary-color-transparent: hsl(305, 70%, 70%, 0.4);
    --lighter-secondary-color-transparent: hsl(305, 70%, 64%, 0.5);
}


/* -------------------------------------------------------------------------- */
/* Principal */

/* Correçção das margens */
body, html, main, h1, h2, h3, h4, h5, h6, p, a, ul, li {
    margin: 0;
    padding: 0;
}

/* Definição do tamanho da fonte */
html {
    font-size: 62.5%;
    color: var(--black-purple);
    background-color: var(--white);
}

/* Corpo Principal */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    
}

/* Corpo do conteúdo */
main {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    height: calc(100vh - 25px);
    margin: 0 auto;
    overflow: hidden;
}

/* Centralizar texto principal */
.title-main {
    justify-items: center;
    font-size: var(--biggest-font);
}

/* -------------------------------------------------------------------------- */
/* Cabeçalho */
header {
    display: flex;
    flex-direction: row;
    background-color: var(--primary-color);
    color: var(--white);
    width: 100%;
}
header ul {
    margin: 10px;
    padding: 10px;
    font-size: var(--bigger-font);
}

/* Navegação cabeçalho */
.nav-header {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-weight: bold;
}

/* Link's cabeçalho */
.nav-header a {
    text-decoration: none;
    color: inherit;
    padding: 10px;
}

/* Link's cabeçalho ao passar o mouse*/
.nav-header a:hover {
    background-color: var(--dark-primary-color);
}

/* -------------------------------------------------------------------------- */
/* Rodapé */
footer {
    font-size: var(--smaller-font);
    justify-items: center;
    background-color: var(--primary-color);
    width: 100%;
    max-height: 25px;
    padding: 10px;
    color: var(--white);
}

/* -------------------------------------------------------------------------- */
/* Página de projetos, listagem */
/* Container do titulo de projetos */
.container-2 {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 80%;
    font-size: var(--biggest-font);
    min-height: 10vh;
    margin: 40px auto;
    padding: 30px;
}

/* Filtro dos projetos, colapsável */
.container-2 details {
    position: absolute;
    font-size: var(--biggest-font);
    left: 60%;
    top: 47%;
    cursor:pointer;
    z-index: 1;
}

/* Botão do filtro de projetos */
.container-2 button {
    background-color: var(--lightest-secondary-color);
    border: 1px solid black;
    border-radius: 8%;
    width: fit-content;
}
.container-2 button:hover {
    background-color: var(--lightest-secondary-color);
    scale: 1.06;
}

/* Container principal dos cards de projetos */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    gap: 30px;
    padding: 30px;
}
/* Container 'fake' dos cards de projetos, para ter a seleção */
.card-item .select-project {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 10%;
    cursor: pointer;
    background-color: transparent;
    text-decoration: none;
}

/* Seleção do projeto */
.select-project:hover{
    background-color: var(--dark-secondary-color);
    opacity: 40%;
    }
    
/* Container do card em si */
.card-item{
    display: flex;
    position: relative;
    flex-direction: column;
    flex: 0 0 calc(20% - 28px);
    height: 300px;
    min-width: 160px;
    align-items: center;
    background-color: var(--secondary-color);
    border: 2px solid var(--black-purple);
    border-radius: 10%;
    box-shadow: 5px 5px 10px var(--black-purple);
    opacity: 80%;
}
/* Telas médias: 3 cards por linha */
@media (max-width: 1000px) {
    .card-item {
        flex: 0 0 calc(33.33% - 28px);
        }
    }
/* Telas pequenas: 2 cards por linha */
@media (max-width: 700px) {
    .card-item {
        flex: 0 0 calc(50% - 28px);
        }
    }
/* Telas muito pequenas: 1 card por linha */
@media (max-width: 500px) {
    .card-item {
        flex: 0 0 100%;
        }
    }
/* Config do titulo dos cards */
.card-item h1{
    margin-top: 5px;
}

/* Config das imagens dos cards */
.img-card {
    margin: auto;
    height: 100px;
    width: 100px;
}

/* Config das tags dos cards */
.card-tags {
    width: 80%;
    margin-bottom: 5px;
    justify-items: center;
}

/* Config do texto das tags */
.card-tags ul{
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style-type: none;
    justify-items: center;
    margin: auto 0px;
}

/* Config da img das tags */
.card-tags ul img{
    position: relative;
    z-index: 9;
}
/* -------------------------------------------------------------------------- */
/* Config paginação */
.paginator {
    font-size: var(--bigger-font);
    width: 80%;
    margin: 10px auto;
    padding: 20px;
    text-align: right;
    cursor: default ;
}

.paginator ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 0.5rem;
}

/* Config links da paginação */
.paginator a{
    text-decoration: none;
    color: var(--black-purple);
    padding: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.paginator .current-page{
    cursor: default ;

}
.paginator .active{
    background-color: var(--lightest-secondary-color-transparent);
    border: 2px solid var(--black-purple);      
    border-radius: 30%;
}
.paginator .active:hover {
    background-color: var(--lighter-secondary-color-transparent);
}

.paginator a:hover, li:hover {
    transform: scale(1.1);
}

/* Config paginação admin */
.pag-admin {
    text-align: center;
}

/* -------------------------------------------------------------------------- */
/* Detalhe de cada projeto */
.detail-project {
    justify-content: center;
}
.detail-project div{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.detail-project h1 {
    font-size: var(--biggest-font);
    padding: 10px;
}
.detail-project p {
    font-size: var(--biggest-font);
    padding: 10px;
}

/* -------------------------------------------------------------------------- */
/* Login */
.login-container-wraper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;

}

.login-wraper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 10px;
}

.container-login {
    background-color: rgba(97, 12, 112, 0.2);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 400px;
    gap: 20px;
    font-size: var(--bigger-font);
}

.container-login h1 {
    margin-bottom: 10px;
}

.container-login button {
    width: 110%;
    background-color: rgba(97, 12, 112, 0.3);
    border: 1px solid black;
    border-radius: 8px;
    padding: 8px;
}

.container-login button:hover{
    background-color: rgba(97, 12, 112, 0.4);
    scale: 1.02;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 5px;
}


.form-control {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    background: transparent;
}

.form-control::placeholder {
    font-style: italic;
    color: rgba(100, 100, 100, 0.3);
}

.error {
    display: flex;
    width: 15%;
    list-style: none;
    justify-content: center;
    margin: 5px;
    padding: 8px;
    background-color: rgba(236, 15, 15, 0.4);
    font-size: var(--medium-font);
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 8px;
    padding: 8px;
}

/* -------------------------------------------------------------------------- */
/* Pagina Admin */

/* Container principal */
.table-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    align-items: center;
}

/* Container titulo */
.table-title {
    display: flex;
    gap: 20px;
    margin: 20px;
    padding: 10px;
    background-color: brown;
}

/* Tabela */
.register-table {
    border-collapse: collapse;
    border: 1px solid black;
    overflow: hidden;
    border-radius: 15px;
    margin: 20px;
}

/* Tabela - cabeçalho */
.register-table th{
    background-color: #e299de;
    font-size: var(--bigger-font);

}

/* Tabela - registros */
.register-table tr{
    font-size: var(--medium-font);
}
.register-table tr:nth-child(odd){
    background-color: #e9bde7;
}
.register-table tr:nth-child(even){
    background-color: #e6c4e4;
}
.register-table tr:hover {
    background-color: #eba8e6;
}


/* Tabela - registros */
.register-table td {
    border-bottom: 1px solid #4b4b4b;
    height: 40px;
    text-align: left;
    padding: 8px;
}

/* Tabela - cabeçalho */
.register-table th {
    border-bottom: 1px solid #3f3f3f;
    height: 20px;
    text-align: left;
    padding: 8px;
}

/* Tabela - links */
.register-table thead a {
    text-decoration: none;
    color: black;
}

.register-table tbody a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 2px;
    align-content: center;
    text-decoration: none;
    color: inherit;
}


/* Tabela - definir larguras */
.register-table col-id {
    width: 5%;
}
.register-table col-name {
    width: auto;
}

.col-img-icon img {
    height: inherit;
}

/* -------------------------------------------------------------------------- */
/* Formulario adicao projeto */
.container-form-proj {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    background-color: aqua;
    width: 80%;
}
