/* Variáveis */
:root {
    --smallest-font: 0.2rem;
    --smaller-font: 0.6rem;
    --small-font: 0.8rem;
    --medium-font: 1.4rem;
    --big-font: 1.8rem;
    --bigger-font: 2.0rem;
    --biggest-font: 2.4rem;
}


/* -------------------------------------------------------------------------- */
/* Principal */

/* Correçção das margens */
body, html, main, h1, h2, h3, h4, h5, h6, p, a, ul, li {
    margin: 0;
    padding: 0;
}

/* Definição do tamanho da fonte */
html {
    font-size: 62.5%;
}

/* Corpo Principal */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    color: white;
}

/* Corpo do conteúdo */
main {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    height: calc(100vh - 25px);
    margin: 0 auto;
    color: black;
    overflow: hidden;
}

/* Centralizar texto principal */
.title-main {
    justify-items: center;
    font-size: var(--biggest-font);
}

/* -------------------------------------------------------------------------- */
/* Cabeçalho */
header {
    display: flex;
    flex-direction: row;
    background-color: purple;
    width: 100%;
}
header ul {
    margin: 10px;
    padding: 10px;
    font-size: var(--bigger-font);
}

/* Navegação cabeçalho */
.nav-header {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-weight: bold;
}

/* Link's cabeçalho */
.nav-header a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

/* Link's cabeçalho ao passar o mouse*/
.nav-header a:hover {
    background-color: blue;
}

/* -------------------------------------------------------------------------- */
/* Rodapé */
footer {
    font-size: var(--smaller-font);
    justify-items: center;
    background-color: purple;
    width: 100%;
    max-height: 25px;
    padding: 10px;
}

/* -------------------------------------------------------------------------- */
/* Página de projetos, listagem */
/* Container do titulo de projetos */
.container-2 {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 80%;
    font-size: var(--biggest-font);
    min-height: 10vh;
    margin: 40px auto;
    padding: 30px;
}

/* Filtro dos projetos, colapsável */
.container-2 details {
    position: absolute;
    font-size: var(--biggest-font);
    left: 60%;
    top: 47%;
    cursor:pointer;
    z-index: 1;
}

/* Botão do filtro de projetos */
.container-2 button {
    background-color: lightpink;
    border: 1px solid black;
    border-radius: 15%;
    width: fit-content;
}

/* Container principal dos cards de projetos */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: pink;
    color: white;
    width: 80%;
    margin: 0 auto;
    gap: 30px;
    padding: 30px;
}
/* Container 'fake' dos cards de projetos, para ter a seleção */
.card-item .select-project {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 10%;
    cursor: pointer;
    background-color: transparent;
    text-decoration: none;
}

/* Seleção do projeto */
.select-project:hover{
    background-color: aqua;
    opacity: 20%;
    }
    
/* Container do card em si */
.card-item{
    display: flex;
    position: relative;
    flex-direction: column;
    flex: 0 0 calc(20% - 28px);
    height: 200px;
    min-width: 160px;
    align-items: center;
    background-color: red;
    border: 2px solid black;
    border-radius: 10%;
}
/* Telas médias: 3 cards por linha */
@media (max-width: 1000px) {
    .card-item {
        flex: 0 0 calc(33.33% - 28px);
        }
    }
/* Telas pequenas: 2 cards por linha */
@media (max-width: 700px) {
    .card-item {
        flex: 0 0 calc(50% - 28px);
        }
    }
/* Telas muito pequenas: 1 card por linha */
@media (max-width: 500px) {
    .card-item {
        flex: 0 0 100%;
        }
    }
/* Config do titulo dos cards */
.card-item h1{
    margin-top: 5px;
}

/* Config das imagens dos cards */
.img-card {
    margin: auto;
    height: 100px;
    width: 100px;
}

/* Config das tags dos cards */
.card-tags {
    width: 80%;
    margin-bottom: 5px;
    justify-items: center;
}

/* Config do texto das tags */
.card-tags ul{
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style-type: none;
    justify-items: center;
    margin: auto 0px;
}

/* Config da img das tags */
.card-tags ul img{
    position: relative;
    z-index: 9;
}
/* -------------------------------------------------------------------------- */
/* Config paginação */
.paginator {
    font-size: var(--bigger-font);
    width: 80%;
    margin: 10px auto;
    padding: 20px;
    text-align: right;
}

/* Config links da paginação */
.paginator a{
    text-decoration: none;
    color: blue;
}

/* -------------------------------------------------------------------------- */
/* Detalhe de cada projeto */
.detail-project {
    justify-content: center;
}
.detail-project div{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.detail-project h1 {
    font-size: var(--biggest-font);
    padding: 10px;
}
.detail-project p {
    font-size: var(--biggest-font);
    padding: 10px;
}

/* -------------------------------------------------------------------------- */
/* login */
.login-container-wraper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;

}

.login-wraper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 10px;
}

.container-login {
    background-color: rgba(97, 12, 112, 0.2);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 400px;
    gap: 20px;
    font-size: var(--bigger-font);
}

.container-login h1 {
    margin-bottom: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    background: transparent;
}

.form-control::placeholder {
    font-style: italic;
    color: rgba(100, 100, 100, 0.3);
}
