:root {
    /* Tamanhos de fonte */
    --smallest-font: 0.2rem;
    --smaller-font: 0.6rem;
    --small-font: 0.8rem;
    --medium-font: 1.4rem;
    --big-font: 1.8rem;
    --bigger-font: 2.0rem;
    --biggest-font: 2.4rem;

    /* Cores basicas */
    --white: #f0f0f0;
    --black-purple:#2d1f39;
    --placeholder-color: rgba(100, 100, 100, 0.3);

    /* black pallet */
    --lightest-gray:#857E89;
    --lighter-gray: #625E68;
    --light-gray: #3F3C42;
    --gray: #1C1A1D;
    --black: #0f0f0f;

    /* Cor Principal */
    --lighter-primary-color: #8A65A8;
    --light-primary-color: #774A9A;
    --primary-color: #663587;
    --dark-primary-color: #531A70;
    --darker-primary-color: #52057B;

    /* Cor Secundaria */
    --lighter-secondary-color: #D4B3F6;
    --light-secondary-color: #C38AF2;
    --secondary-color: #B368EF;
    --dark-secondary-color: #A33BEA;
    --darker-secondary-color: #892CDC;

    /* Cor terciaria */
    --lighter-tertiary-color: #F3D4FF;
    --light-tertiary-color: #E99CFF;
    --tertiary-color: #DF69FF;
    --dark-tertiary-color: #D53CFF;
    --darker-tertiary-color: #BC6FF1;

    /* table */
    --odd: #e4bef2;
    --even: #F3D4FF;
    --hover: #dbbce7;

    /* transparent */
    --login-background: rgba(195, 138, 242, 0.5);
    --login-button: rgba(179, 104, 239, 0.6);
    --login-button-hover: rgba(179, 104, 239, 0.8);
    --login-error: rgba(236, 15, 15, 0.4);



}