:root {
    /* Tamanhos de fonte */
    --smallest-font: 0.2rem;
    --smaller-font: 0.6rem;
    --small-font: 0.8rem;
    --medium-font: 1.4rem;
    --big-font: 1.8rem;
    --bigger-font: 2.0rem;
    --biggest-font: 2.4rem;

    /* Background colors */
    --background: #291f33;
    --background-inner: #3f3a43;
    --background-inner-secondary: #332c3a;

    /* text colors */
    --text-primary: #e6daf5;
    --text-secondary: #bdaacf;
    --text-tertiary: #a895ba;
    --text-inverted: #1a131f;
    
    /* Bad constrast colors
    text-tertiary = background | backgroung-inner
    */

    /* Border colors */
    --border-default: #4b4452;
    --border-highlight: #6e5d82;
    --border-muted: #2c2730;

    /* Shadow colors */
    --shadow-default: 0 4px 6px rgba(138, 101, 168, 0.2);
    --shadow-elevated: 0 6px 12px rgba(138, 101, 168, 0.4);
    --shadow-subtle: 0 1px 2px rgba(255, 255, 255, 0.06);

    /* Cores basicas */
    --white: #f0f0f0;
    --black-purple:#2d1f39;
    --placeholder-color: rgba(100, 100, 100, 0.3);

    /* black pallet */
    --lightest-gray:#857e89;
    --lighter-gray: #625e68;
    --light-gray: #3f3c42;
    --gray: #1c1a1d;
    --black: #0f0f0f;

    /* Cor Principal */
    --lighter-primary-color: #8a65a8;
    --light-primary-color: #774a9a;
    --primary-color: #663587;
    --dark-primary-color: #531a70;
    --darker-primary-color: #52057b;

    /* Cor Secundaria */
    --lighter-secondary-color: #d4b3f6;
    --light-secondary-color: #c38af2;
    --secondary-color: #b368ef;
    --dark-secondary-color: #a33bea;
    --darker-secondary-color: #892cdc;

    /* Cor terciaria */
    --lighter-tertiary-color: #f3d4ff;
    --light-tertiary-color: #e99cff;
    --tertiary-color: #df69ff;
    --dark-tertiary-color: #d53cff;
    --darker-tertiary-color: #bc6ff1;

    /*
    --soft-red-light: #d96a6a;
    --soft-red-dark: #d56464;
    --warning-red: #e02020cc;
    */

    --soft-red-light: #e18989;
    --soft-red-dark: #d96868;
    --warning-red: #b50808cc;


}