{% extends 'global/base.html' %}
{% load static %}

{% block content %}
    {% block extra_css %}
        <link rel="stylesheet" href="{% static 'global/css/admin_forms.css' %}">
    {% endblock extra_css %}
    <div class='container-form-proj'>
        <h1>Tag: {{ tag.name }}</h1>
        <form method='post'>
            {% csrf_token %}
            <div class="field">
                <label for="{{ form.name.id_for_label }}">Tag Name:</label>
                {{ form.name }}
            </div>

            <div class="field">
                <label for="{{ form.short_desc.id_for_label }}">Short Description:</label>
                {{ form.short_desc }}
                <div id="counter-short">0 / 400</div>
            </div>
            <div class="field">
                <label for="{{ form.long_desc.id_for_label }}">Long Description:</label>
                {{ form.long_desc }}
                <div id="counter-long">0</div>
            </div>
            <div class="img-field">
                <label class='field-label' for="{{ form.img_icon.id_for_label }}">Select icon:</label>
                {% if project.img_icon %}<img src="{{ project.img_icon.url }}" alt="{{ project.name }}">{% endif %}
                
                <div>
                    {{ form.img_icon }}
                </div>
            </div>
            <div class="tags-field">
                <label for="{{ form.tags.id_for_label }}">Select tags:</label>
                {{ form.tags }}
            </div>
            <div class="button-field">
                <button type="submit" name="action" value="save">Salvar</button>
                <button type="submit" name="action" value="continue">Salvar e continuar editando</button>
            </div>
        </form>
    </div>   


{% endblock content %}