/* Header styles for the application */

header {
    display: flex;
    flex-direction: row;
    background-color: var(--primary-color);
    color: var(--white);
    font-size: var(--bigger-font);
    width: 100%;
}

/* Header nav style */
.header-nav {
    margin: 10px;
    padding: 10px;
    display: flex;
    list-style-type: none;
    font-weight: bold;
}

/* Header nav links */
.header-nav a {
    text-decoration: none;
    color: inherit;
    padding: 10px;
    border-radius: 10px;
}
.header-nav a:hover {
    background-color: var(--dark-primary-color);
}

/* Logout button placement */
.logout {
    position: absolute;
    right: 10px;
    text-align: end;
}