/* Project card file for displaying project cards in a flex layout */

/* Main container for the project cards */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 30px;
    font-size: var(--bigger-font);
}

/* List of cards */
.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 30px;
}

/* Fake link to make the card redirect to the project detail page */
.card-link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: var(--text-secondary);
}

/* The card itself */
.card {
    display: flex;
    width: 350px;
    height: 500px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: var(--shadow-default);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin: 1rem auto;
    text-align: start;
    background-color: var(--background-inner);

}
.card:hover {
    transform: translateY(-5px);
    box-shadow: var(--shadow-elevated);
}

/* Main image of the card */
.card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* Content of the card */
.card-content {
    padding: 0 15px;
    flex: 1 1 auto;
}

/* Title of the card */
.card-title {
    margin-top: 0.5rem;
    margin-bottom: 0.8rem;
    font-weight: bold;
    letter-spacing: 2px;
}

/* Description of the card */
.card-content p {
    font-size: var(--medium-font);
    color: var(--text-primary);
    padding-bottom: 10px;
}

/* Tags section of the card */
.tag-images {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    gap: 10px;
    margin: 0 auto 10px auto;
    padding-top: 10px;
    width: 80%;
    
    border-top: var(--border-default);
    background-image: linear-gradient(to right, transparent, var(--black-purple), transparent);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 80% 2px;
}

/* Individual tag icon */
.tag-icon {
    width: 36px;
    height: 36px;
    object-fit: cover;
    padding: 2px;
    border-radius: 50%;
    border: 2px solid var(--border-highlight);
}



